html{
	position: relative;
	font-family: Times New Roman;
}

body{
background-color: #f5f5dc;
	margin: 0;
}

.clearfix {
	clear: both;
}

a{
	color: #800000;
}

a:hover{
	color: #880000;
}

a:visited{
	color: #800a0a;
}

header{
	width: 225px;

	float: left;
}

#logo{
	width: 150px;
	height: 150px;
	background-color: #fafad2;
	margin: 25px auto;
}

menu{
	padding: 15px;
}

.menuitem{
	width: 180px;
	height: 30px;

	float: left;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	padding: 5px;
	background-color: #fffacd;
	border: 3px dashed #600000;
	text-transform: uppercase;
	margin: 5px 0;
}

.menuitem:hover{
	background-color: #ffa500;
	cursor: pointer;
}

.menuitem.active{
	background-color: #ffed4d;
	border-color: #ff4500;
}

main{
	width: calc(100% - 255px);

	float: left;
	margin: 15px auto;
}

.single-patchwork-wrapper {
	width: 100%;
	float: left;
}

.single-patchwork{
	height: 220px;

	padding: 20px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #222;
	margin: 10px;
}

.single-patchwork .title{
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.single-patchwork .date{
	margin-top: 5px;
	color: #111;
	font-size: 10px;
	float: left;
}

.single-patchwork .preview-wrapper{
	height: 170px;
	width: 100%;
}

.single-patchwork .preview-wrapper svg {
	height: 100%;
	width: 100%;
}

.single-patchwork .statistics{
	clear: both;
}

.single-patchwork .views{
	float: left;
	font-size: 12px;
}

.single-patchwork .likes{
	float: right;
	font-size: 12px;
}

footer{
	position: absolute;
	bottom: 0;
	left: 50%;
}

footer span{
	font-size: 12px;
	position: relative;
	left: -50%;
}

#side-panel {
	width: 250px;
	float: right;
	height: 100vh;
	overflow-y: scroll;
}
#patch-list svg {
	float: left;
	width: 40%;
	height: auto;
	padding: 8px;
}

.current{
	padding: 6px !important;
	border: 2px dashed #800000;
	background-color: #fafad2;
}

#fabric-list {
	display: none;
}
#fabric-list.edit {
	display: block;
}

#fabric-list .fabric{
	clear: left;
}

#fabric-list .fabric:hover{
	cursor: pointer;
}

#fabric-list .fabric-thumbnail {
	width: 30px;
	height: 30px;
	margin: 5px;
	border: 1px solid black;
	float: left;
}

#fabric-list .fabric-color{
	padding: 5px;
	line-height: 42px;
}
#add-fabric div {
	text-align: center;
	font-size: 25px;
	width: 30px;
	height: 30px;
	margin: 5px;
	border: 1px solid black;
	float: left;
}
#add-fabric span {
	padding: 5px;
	line-height: 42px;
}

#main-panel {
	width: calc(100% - 300px);
	float:left;
}

#create-board {
	padding: 30px;
}

#create-board svg {
	/*width: 100%;
	height: auto;*/
	cursor: pointer;
}

polygon {
	/*fill: white;*/
	stroke: black;
	stroke-width: 1px;
}

#welcome{
	display: none;
	font-size: 30;
	text-align: center;
	position: absolute;
	left: 33%;
	top: 25%;
	width: 30%;
}
#welcome span{
	font-size: 50;
}

.first{	 fill: #adff2f; }
.second{ fill: #ffff66; }

.form-group {
	width: 100%;
}

.form-group input,
.form-group textarea,
.form-group button{
	width: 100%;
	background-color: #fff;
	border: 1px solid #000;
}

.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#save-fabric-form {
	clear: both;
	display: none;
}

button.save{
	background-color: #ffd;
	border: 2px dashed #800;
	float: right;
	margin-top: 15px;
	padding: 5px;
}

#save-patchwork, #save-patchwork-form{
	display: none;
}

#upload-form {
	display: none;
}

.ui-dialog{
	background-color: #fff;
	border: 1px solid #000;
	top: 50px;
}

#loading-gears-wrapper{
    background-color: rgba(0,0,0,0.4);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 200;
}

#loading-gears{
	top: 50%;
	left: 50%;
	position: absolute;
}

#loading-gears svg{
	margin-top: -50%;
	margin-left: -50%;
}

h1{
    border-bottom: 2px dashed #660000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

#patchwork {
	/*display: none;*/
	position: relative;;
    width: 500px;
    height: 300px;
}

#patchwork rect {
	width: 100px;
	height: 100px;
	fill: transparent;
	stroke: black;
	stroke-width: 1px;
	stroke-dashoffset: 5;
    stroke-dasharray: 5, 10;
}

#patchwork .date{
	font-size: 12px;
	text-align: center;
	margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
	.single-patchwork-wrapper {
		width: 50%;
	}
}

@media screen and (min-width: 993px) {
	.single-patchwork-wrapper {
		width: 25%;
	}
}
#patchwork-wrapper {
	overflow: scroll;
	text-align: center;
	border: 1px solid;
}

#add-row-top,
#add-row-bottom {
	text-align: center;
}

#add-column-left,
#add-column-right,
#patchwork-wrapper {
	display: inline-block;
}
#patchwork-wrapper {
	vertical-align: middle;
	width: 75%
}

#add-column-right,
#add-column-left {
	width: 10%;
}
