html, body{
	font-family: 'Merriweather', serif;
	height: 100%;
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: relative;
}

body{
	margin-bottom: 15px;
}

h1{
	color: #971d1d;
	font-size: 48px;
	margin: 0;
	padding: 15px 15px 15px 0;
}

h1::first-letter{
	color: #561010;
	font-size: 200%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

main{
	margin: 80px auto 0;
	max-width: 1200px;
	width: 100%;
}

button{
	background-color: #fff0b3;
	border: 2px solid #930;
	clear: both;
	color: #4d1300;
	cursor: pointer;
	float: right;
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
	padding: 10px;
}

button:hover{
	background-color: #ffe066;
}

/*** LOGO global styling***/
.logo{
	vertical-align: middle;
}


/********** HEADER + MENU ***********/

header{
	background: linear-gradient(to bottom right, #ffdb4d, #fff0b3);
	background-color: #ffdb4d;
	border-bottom: 3px solid #930;
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
    transition: 0.5s;
}

header #header-content{
	margin: 0 auto;
	max-width: 1200px;
}

header #logo{
	float: left;
	padding: 10px;
}

header svg.logo{
    width: auto;
	transition: 0.5s;
}

header menu{
	/*display: inline-block;*/
	transition: 0.5s;
	/*vertical-align: middle;*/
	float: right;
	margin: 0;
}

header menu .menuitem{
	background-color: #ffffe6;
	border-style: solid;
	border-width: 2px;
	float: left;
	margin: 0 10px;
	padding: 12px;
}

header menu .menuitem:last-child{
	margin-right: 0;
}

header menu .menuitem:nth-child(1){
	border-color: #080;
	color: #060;
}
header menu .menuitem:nth-child(1):hover{
	background-color: #060;
}
header menu .menuitem:nth-child(2){
	border-color: #c00;
	color: #900;
}
header menu .menuitem:nth-child(2):hover{
	background-color: #900;
}
header menu .menuitem:nth-child(3){
	border-color: #009;
	color: #006;
}
header menu .menuitem:nth-child(3):hover{
	background-color: #006;
}
header menu .menuitem:nth-child(4){
	border-color: #909;
	color: #4d004d;
}
header menu .menuitem:nth-child(4):hover{
	background-color: #4d004d;
}
header menu .menuitem:nth-child(5){
	border-color: #800;
	color: #4d0000;
}
header menu .menuitem:nth-child(5):hover{
	background-color: #4d0000;
}
header menu .menuitem:nth-child(6){
	border-color: #03c;
	color: #002699;
}
header menu .menuitem:nth-child(6):hover{
	background-color: #002699;
}

header menu a{
	color: inherit;
	font-family: 'Lora', serif;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
}

header menu .menuitem:hover{
	color: #ffffe6;
}

header.compact{
    height: 70px;
}

header.compact svg.logo{
    height: 47px;
}

header.compact menu a{
    padding: 7px;
}

header .header-right{
	float: right;
}

header .language-switch{
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	margin: 0;
}

.language-switch li {
	display: inline-block;
	float: right;
	margin: 5px;
}

/********** CREATING ***********/

#create{
	position: relative;
	width: 100%;
}

#welcome, #create-board{
	float: left;
	margin: 25px;
	max-width: 850px;
	width: 100%;
}

#welcome{
	margin-top: 20%;
	text-align: center;
}

#create #create-board{
	display: none;
}

#create-board-content{
	position: relative;
}

#create-board-content button{
	float: none;
	font-size: 12px;
	font-weight: normal;
	margin-top: 0;
	padding: 0;
}

#patchwork-wrapper{
	float: left;
	height: 600px;
	margin: 3px 30px;
	overflow: scroll;
	width: 790px;
}

#patchwork-wrapper svg rect{
	fill: #fff;
	stroke: #444;
	stroke-dasharray: 4;
	stroke-width: 1;
}

#patchwork-wrapper svg polygon{
	stroke: #000;
	stroke-width: 1;
}

.extend-patchwork button{
	background-color: #fff0b3;
	border: 1px solid #800;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
	width: 100%;
}

#add-row-top, #add-row-bottom{
	clear: both;
	margin: 0 auto;
	width: 794px;
}

#add-column-left, #add-column-right{
	position: absolute;
	bottom: 315px;
}

#add-column-left button, #add-column-right button{
	width: 600px;
}

#add-column-left{
	left: -285px;
	transform: rotate(-90deg);
}

#add-column-right{
	right: -285px;
	transform: rotate(90deg);
}

#preview-button, #save-patchwork{

	padding: 10px;
}

/********** SIDE PANEL ***********/

#side-panel{
	max-width: 300px;
	position: absolute;
	right: 0;
	top: 10px;
}

#tabs{
	position: relative;
	width: 100%;
}

#tabs ul{
	list-style-type: none;
	padding: 0;
	position: absolute;
	top: -47px;
}

#tabs ul li{
	float: left;
	margin-right: 5px;
}

#tabs ul li.ui-tabs-active a{
	background-color: #fff0b3;
}

#tabs ul li:hover a{
	background-color: #ffe066;
}


#tabs ul li a{
	background-color: #fffae6;
	border: 2px dashed #cc5200;
	color: #4d1300;
	padding: 10px;
	text-decoration: none;
	text-transform: capitalize;
}

#tabs > div{
	border: 2px solid #cc5200;
	margin-top: 50px;
	padding: 10px;
}

#patch-list, #fabric-list{
	width: 280px;
}

#patch-list-basic svg, #patch-list-triangles svg{
	border: 2px solid transparent;
	cursor: pointer;
	height: auto;
	padding: 5px;
	width: 120px;
}

#patch-list-basic svg.current, #patch-list-triangles svg.current{
	border-color: #ffc34d;
}

#patch-list ul{
	padding: 15px 7px;
	position: relative;
	top: -10px;
}

#patch-list ul li a{
	background-color: #eee;
	border: 1px solid transparent;
	color: #333;
}

#patch-list ul li.ui-tabs-active a{
	background-color: #fafafa;
	border-color: #e1e1e1;
}

#patch-list ul li:hover a{
	background-color: #dfdfdf;
	border-color: #ccc;
}

.first{
	fill: #ffe066;
}

.second{
	fill: #ff471a;
}

.fabric{
	clear: both;
	cursor: pointer;
	height: 30px;
	margin: 5px;
	padding: 5px;
}

.fabric svg{
	display: none;
}

.fabric .fabric-thumbnail{
	border: 1px solid #000;
	float: left;
	padding: 15px;
}

.fabric .fabric-color{
	line-height: 30px;
	margin-left: 5px;
	vertical-align: middle;
}

.fabric.current{
	background: linear-gradient(to right, #ffc34d, transparent);
}

#fabric-list hr{
	clear: both;
}

.fabric.new .fabric-thumbnail{
	background-color: #fff;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 30px;
}

/********** UI DIALOGS ***********/
.ui-dialog-titlebar{
	background: linear-gradient(to bottom right, #ffdb4d, #fff0b3);
	background-color: #ffdb4d;
	border: 1px solid #000;
	border-bottom: 3px solid #930;
	color: #4d1300;
	height: 40px;
	position: relative;
	width: 100%;
}

.ui-dialog-titlebar span{
	font-family: 'Lora', serif;
	font-weight: bold;
	left: 0;
	padding: 10px 5px;
	position: absolute;
	top: 0;
}

.ui-dialog-titlebar button{
	background-color: #fff;
	border: 1px solid #000;
	float: right;
	height: 20px;
	margin: 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
}

.ui-dialog form{
	background-color: #fff;
	border: 1px solid black;
	border-top: none;
	padding: 15px;
	position: absolute;
	width: 270px !important;
}

.ui-dialog.preview{
	background-color: #fff;
	border: 2px solid #000;
	height: 80vh !important;
	top: 15px !important;
}

.ui-dialog.preview #patchwork-wrapper{
	height: 100% !important;
	overflow: hidden;
	margin-top: -120px;
}

.ui-dialog.preview #patchwork-wrapper svg{
	height: 100%;
	width: auto;
}

/********** FORMS ***********/

form .form-group{
	clear: left;
	margin-bottom: 10px;
}

form label{
	float: left;
	font-size: 14px;
	width: 80px;
}

form input, form textarea, form select{
	background-color: #fff;
	border: 1px solid #000;
	cursor: pointer;
	width: 185px;
}

form textarea{
	resize: vertical;
}

/********** SAVE PATCHWORK FORM ***********/
#save-patchwork-form{
	display: none;
}

/********** SAVE FABRIC FORM ***********/
#save-fabric-form{
	display: none;
}

/********** FOOTER ***********/
footer{
	bottom: 10px;
	height: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
}

/********** LOADING GEARS ***********/
#loading-gears-wrapper{
	display: none;
}
/*
#loading-gears-wrapper{
	background-color: #000;
	height: 100%;
	opacity: 0.4;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#loading-gears{
	height: 200px;
	margin: 50px auto;
	width: 400px;
}

#loading-gears .patch{
	transform-origin: 100px 100px;
}

#loading-gears .stitch{

}

@keyframes move-up{
	from { transform: translate(100px, 150px); }
	to   { transform: translate(100px, 100px); }
}

@keyframes rotate{
	from { transform: rotate(180deg);  }
	to   { transform: rotate(90deg); }
}

@keyframes move-left-first-patch{
	from { transform: translateX(0); }
	to	 { transform: translateX(-100px); }
}

@keyframes move-left-second-patch{
	from { transform: translateX(100px); }
	to   { transform: translateX(0); }
}


#loading-gears .first.patch{
	animation:
		move-left-first-patch 1s linear 2s 1 forwards,
		move-up 1s linear 3s 1 forwards,
  	rotate 1s linear 4s 1 forwards,
		move-left-second-patch 1s linear 5s 1 forwards;
}

#loading-gears .second.patch{
	displa: none;
	animation:
		move-up 1s linear 0s 1 forwards,
		rotate 1s linear 1s 1 forwards,
		move-left-second-patch 1s linear 2s 1 forwards,
		move-left-first-patch 1s linear 5s 1 forwards;
}
*/
/********** GALLERY ***********/

#gallery .search-form{
	float: right;
	font-family: 'Merriweather', serif;
	margin-top: -65px;
	padding: 10px;
}

#gallery .search-form input{
	border: 2px solid #800;
	border-right: none;
	font-size: 18px;
	height: 30px;
	margin-right: -5px;
	margin-top: 5px;
	padding: 3px;
	vertical-align: top;
}

#gallery .search-form select{
	border: 2px solid #800;
	font-size: 18px;
	height: 40px;
	margin-top: 5px;
	padding: 3px;
	vertical-align: top;
}

#gallery .search-form button{
	float: none;
	padding: 0;
}

#gallery .search-form button svg circle,
#gallery .search-form button svg line{
	fill: transparent;
	stroke: #222;
	stroke-width: 3px;
}

#gallery .column{
	clear: right;
	float: left;
	width: 25%;
}

.single-patchwork{
	background-color: #fef9e6;
	border: 1px solid #811;
	color: #300;
	height: auto;
	margin: 0 5px 10px;
	padding: 10px;
}

.single-patchwork .title a{
	color: inherit;
	font-family: 'Lora', serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.single-patchwork:hover{
	background-color: #fdf3ce;
	border-color: #622;
	color: #311;
}

.single-patchwork .title::first-letter{
	text-transform: uppercase;
}

.single-patchwork .date{
	float: right;
	font-size: 10px;
}

.single-patchwork .preview-wrapper{
	height: auto;
	margin: 35px auto 5px;
	width: 90%;
}

.single-patchwork .preview-wrapper svg{
	height: auto;
	width: 100%
}

.single-patchwork .likes, .single-patchwork .views, .single-patchwork .comments{
	font-size: 11px;
}

.single-patchwork .like-form button{
	background-color: transparent;
	border-color: transparent;
	margin-top: -40px;
	outline: none;
}

.single-patchwork .like-form button svg .face,
.single-patchwork .like-form button svg .mouth{
	fill: transparent;
	stroke: #000;
	stroke-width: 2px;
}

.single-patchwork .like-form button svg .smile{
	fill: transparent;
	stroke: transparent;
	stroke-width: 2px;
	transition: 0.5s linear;
}

.single-patchwork .like-form button svg .cheek{
	fill: transparent;
	stroke: transparent;
	transition: 0.4s linear;
}

.single-patchwork .like-form button:hover svg .face{
	fill: #ff9;
}

.single-patchwork .like-form button:hover svg .cheek{
	fill: #ffb366;
}

.single-patchwork .like-form button:hover svg .smile{
	stroke: #000;
}


/********** PAGINATION ***********/
#pagination{
	clear: both;
	font-size: 20px;
	padding: 20px 0;
	text-align: center;
}

#pagination ul{
	list-style: none;
}

#pagination li{
	display: inline;
	margin: 0 3px;
	text-align: center;
}

#pagination li a, #pagination li span{
	background-color: #fff;
	border-style: solid;
	border-width: 3px;
	color: inherit;
	padding: 5px 10px;
	text-decoration: none;
}

#pagination li.disabled{
	color: #aaa;
}

#pagination li:nth-child(2) a{
	border-color: #080;
	color: #060;
}
#pagination li:nth-child(2):hover a, #pagination li:nth-child(2).active span{
	background-color: #060;
}
#pagination li:nth-child(3) a{
	border-color: #c00;
	color: #900;
}
#pagination li:nth-child(3):hover a, #pagination li:nth-child(3).active span{
	background-color: #900;
}
#pagination li:nth-child(4) a {
	border-color: #009;
	color: #006;
}
#pagination li:nth-child(4):hover a, #pagination li:nth-child(4).active span{
	background-color: #006;
}
#pagination li:nth-child(5) a{
	border-color: #909;
	color: #4d004d;
}
#pagination li:nth-child(5):hover a, #pagination li:nth-child(5).active span{
	background-color: #4d004d;
}
#pagination li:nth-child(6) a{
	border-color: #800;
	color: #4d0000;
}
#pagination li:nth-child(6):hover a, #pagination li:nth-child(6).active span{
	background-color: #4d0000;
}
#pagination li:nth-child(7) a{
	border-color: #03c;
	color: #002699;
}
#pagination li:nth-child(7):hover a, #pagination li:nth-child(7).active span{
	background-color: #002699;
}

#pagination li:hover a, #pagination li.active span{
	color: #fff;
}

#pagination li:first-child a, #pagination li:last-child a,
#pagination li:first-child span, #pagination li:last-child span,
#pagination li:first-child:hover a, #pagination li:last-child:hover a,
#pagination li:first-child:hover span, #pagination li:last-child:hover span{
	background-color: transparent;
	border-color: transparent;
	color: #777;
}

/********** DETAILS VIEW ***********/
#details .date{
	float: right;
	font-size: 13px;
}

/********** COMMENTS ***********/
.comment .author{
	font-size: 18px;
}

.comment .date{
	font-size: 13px;
	color: #bbb;
}

.comment .text{
	padding-left: 10px;
}

.comment hr{
	color: transparent;
	height: 5px;
}

.comment:nth-child(6n) hr{
	background-color: #f90;
}
.comment:nth-child(6n+1) hr{
	background-color: #060;
}
.comment:nth-child(6n+2) hr{
	background-color: #cc0;
}
.comment:nth-child(6n+3) hr{
	 background-color: #0047b3;
 }
.comment:nth-child(6n+4) hr{
	 background-color: #c30;
 }
.comment:nth-child(6n+5) hr{
	background-color: #550080;
}

#new-comment{
	margin-top: 30px;
	width: 400px;
}

#new-comment form label{
	width: auto;
}

#new-comment form input, #new-comment form textarea{
	clear: both;
	display: block;
	padding: 5px 0;
	width: 100%;
}
